DATABASE_URL=postgresql+psycopg://clockin_user:change-this-local-password@localhost:5432/clockin
APP_ENV=development
JWT_SECRET_KEY=9c31f5275063be7078c2ba32cd8eeefd8febb7331cae7ec58afc80d2d24657bd
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=720